# Project dependencies
node_modules
.cache/
package-lock.json

# yarn with zero installs - https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins

# Build directories
public/
static/admin/*.bundle.*
.DS_Store
built-lambda

# Environmnet variables
.env