@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-serif: var(--font-crimson);
  --font-mono: var(--font-kalam);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
