backend:
  name: git-gateway
  branch: master
  commit_messages:
    create: Create {{collection}} “{{slug}}”
    update: Update {{collection}} “{{slug}}”
    delete: Delete {{collection}} “{{slug}}”
    uploadMedia: Upload “{{path}}”
    deleteMedia: Delete “{{path}}”

# If we use editorial_workflow, we cant have autotweet.
# This is because it creates a PR instead of committing directly to master so we cant read the commit message

# publish_mode: editorial_workflow

media_folder: static/img
public_folder: /img

display_url: https://www.amandabrookfield.co.uk

collections:
  - name: home-and-announcement
    label: Home & Announcement
    delete: false
    files:
      - file: src/pages/index.md
        label: Home
        name: home
        fields:
          - {
              label: Template Key,
              name: templateKey,
              widget: hidden,
              default: home-page,
            }
          - {label: Banner Image, name: bannerImage, widget: hidden}
          - {label: Welcome Text, name: welcomeText, widget: text}
          - label: Best Sellers
            name: bestSellers
            widget: object
            fields:
              - {
                  label: Best Seller 1,
                  name: bestSeller1,
                  widget: relation,
                  collection: books,
                  searchFields: [title],
                  valueField: title,
                  displayFields: [title],
                }
              - {
                  label: Best Seller 2,
                  name: bestSeller2,
                  widget: relation,
                  collection: books,
                  searchFields: [title],
                  valueField: title,
                  displayFields: [title],
                }
              - {
                  label: Best Seller 3,
                  name: bestSeller3,
                  widget: relation,
                  collection: books,
                  searchFields: [title],
                  valueField: title,
                  displayFields: [title],
                }
              - {
                  label: Best Seller 4,
                  name: bestSeller4,
                  widget: relation,
                  collection: books,
                  searchFields: [title],
                  valueField: title,
                  displayFields: [title],
                }
              - {
                  label: Best Seller 5,
                  name: bestSeller5,
                  widget: relation,
                  collection: books,
                  searchFields: [title],
                  valueField: title,
                  displayFields: [title],
                }
          - label: Hero Section
            name: heroSection
            widget: object
            fields:
              - {label: Hero title, name: title, widget: string}
              - {label: Hero text, name: text, widget: text}
              - {label: Read more text, name: readMoreText, widget: string}
              - {
                  label: Linked Book,
                  name: linkedBook,
                  widget: relation,
                  collection: books,
                  searchFields: [title],
                  valueField: title,
                  displayFields: [title],
                }
          - label: Latest Releases
            name: latestReleases
            widget: object
            fields:
              - label: Latest Release 1
                name: latestRelease1
                widget: object
                fields:
                  - {
                      label: Book,
                      name: book,
                      widget: relation,
                      collection: books,
                      searchFields: [title],
                      valueField: title,
                      displayFields: [title],
                    }
                  - {label: Blurb, name: blurb, widget: text}
              - label: Latest Release 2
                name: latestRelease2
                widget: object
                fields:
                  - {
                      label: Book,
                      name: book,
                      widget: relation,
                      collection: books,
                      searchFields: [title],
                      valueField: title,
                      displayFields: [title],
                    }
                  - {label: Blurb, name: blurb, widget: text}
              - label: Latest Release 3
                name: latestRelease3
                widget: object
                fields:
                  - {
                      label: Book,
                      name: book,
                      widget: relation,
                      collection: books,
                      searchFields: [title],
                      valueField: title,
                      displayFields: [title],
                    }
                  - {label: Blurb, name: blurb, widget: text}

      - file: src/announcement/index.md
        label: Announcement
        name: announcement
        create: false
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Body, name: body, widget: markdown}
          - {
              label: Button Text,
              name: buttonText,
              widget: string,
              required: false,
              default: '',
            }
          - {
              label: Button Link,
              name: buttonLink,
              widget: string,
              required: false,
              default: '',
            }
          - {
              label: Image,
              name: image,
              widget: image,
              required: false,
              media_library: {config: {multiple: false}},
            }
          - {
              label: Display Until,
              name: displayUntil,
              widget: datetime,
              dateFormat: DD MMM YYYY,
              required: false,
              default: '',
            }
          - {label: Disable Announcement?, name: isDisabled, widget: boolean}
  - name: books
    label: Books
    delete: false
    folder: src/pages/books
    slug: '{{slug}}'
    fields:
      - {
          label: Template Key,
          name: templateKey,
          widget: hidden,
          default: book-page,
        }
      - {label: Book ID, name: bookId, widget: hidden}
      - {label: Path, name: path, widget: hidden}
      - {label: Title, name: title, widget: string}
      - {
          label: Original Publication Date,
          name: originalPublicationDate,
          widget: datetime,
          timeFormat: false,
          dateFormat: DD MMM YYYY,
        }
      - {label: Cover Image, name: coverImage, widget: hidden}
      - {label: Cover Sketch Image, name: coverSketchImage, widget: hidden}
      - {label: Amazon Link, name: amazonLink, widget: string}
      - {label: Body, name: body, widget: markdown}
      - {
          label: Reviews,
          name: reviews,
          widget: list,
          fields:
            [
              {label: Text, name: text, widget: text},
              {label: Reviewer, name: reviewer, widget: string},
            ],
        }
  - name: author
    label: Author
    delete: false
    folder: src/pages/author
    slug: '{{slug}}'
    fields:
      - {
          label: Template Key,
          name: templateKey,
          widget: hidden,
          default: author-page,
        }
      - {label: Title, name: title, widget: string}
      - {label: Body, name: body, widget: markdown}
  - name: blog
    label: Blog Posts
    folder: src/pages/blog
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    fields:
      - {
          label: Template Key,
          name: templateKey,
          widget: hidden,
          default: blog-post,
        }
      - {label: Title, name: title, widget: string}
      - {
          label: Publish Date,
          name: date,
          widget: datetime,
          timeFormat: false,
          dateFormat: DD MMM YYYY,
        }
      - {label: Body, name: body, widget: markdown}
      - {label: Tags, name: tags, widget: list, required: false}
  - name: articles
    label: Articles
    folder: src/pages/features/articles
    create: true
    slug: '{{slug}}'
    fields:
      - {
          label: Template Key,
          name: templateKey,
          widget: hidden,
          default: article-page,
        }
      - {
          label: Article Type,
          name: articleType,
          widget: hidden,
          default: article,
        }
      - {label: Title, name: title, widget: string}
      - {
          label: Original Publication Date,
          name: date,
          widget: datetime,
          timeFormat: false,
          dateFormat: DD MMM YYYY,
          required: false,
          default: '',
        }
      - {label: Body, name: body, widget: markdown}
  - name: short-stories
    label: Short Stories
    folder: src/pages/features/short-stories
    create: true
    slug: '{{slug}}'
    fields:
      - {
          label: Template Key,
          name: templateKey,
          widget: hidden,
          default: article-page,
        }
      - {
          label: Article Type,
          name: articleType,
          widget: hidden,
          default: short-story,
        }
      - {label: Title, name: title, widget: string}
      - {
          label: Original Publication Date,
          name: date,
          widget: datetime,
          timeFormat: false,
          dateFormat: DD MMM YYYY,
          required: false,
          default: '',
        }
      - {label: Body, name: body, widget: markdown}
  - name: events
    label: Events
    delete: false
    files:
      - file: src/pages/events/index.md
        label: Events
        name: events
        fields:
          - {
              label: Template Key,
              name: templateKey,
              widget: hidden,
              default: events-page,
            }
          - {
              label: Events,
              name: events,
              widget: list,
              fields:
                [
                  {label: Title, name: title, widget: string},
                  {
                    label: Event Date,
                    name: date,
                    widget: datetime,
                    timeFormat: false,
                    dateFormat: DD MMM YYYY,
                  },
                  {
                    label: "Event Time [eg '7pm']",
                    name: time,
                    widget: string,
                    required: false,
                    default: '',
                  },
                  {
                    label: Description,
                    name: description,
                    widget: text,
                    required: false,
                    default: '',
                  },
                ],
            }
