/*------------------------------- 
------------ GENERAL ------------ 
---------------------------------*/
html {
  overflow-y: scroll;
}

body {
  font: 16px 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}

@font-face {
  font-family: 'ariesregular';
  src: url('../assets/fonts/aries-roman-webfont.eot');
  src: url('../assets/fonts/aries-roman-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/aries-roman-webfont.woff') format('woff'),
    url('../assets/fonts/aries-roman-webfont.ttf') format('truetype'),
    url('../assets/fonts/aries-roman-webfont.svg#ariesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'ariesregular', arial;
  line-height: 1.2;
  margin: 0 0 8px 0;
}
.aries {
  font-family: 'ariesregular', arial;
}

/* ~~ Element/tag selectors ~~ */
ul,
ol,
dl {
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
  line-height: 1.6;
  text-align: justify;
}

a {
  outline: none;
  text-decoration: none;
}
a img {
  border: none;
  outline: none;
}

a:link,
a:visited {
  color: #a00;
}

a:hover,
a:active,
a:focus {
  color: #f66;
  /*color: #2e6fc7;*/
}
/* ~~ General classes ~~ */

.generalheading {
  font-family: 'ariesregular';
  font-size: 25px;
}
a.generalheading {
  text-decoration: none;
}
.justify {
  text-align: justify;
}
.italic {
  font-style: italic;
}
.red {
  color: #c00;
}
.no-underline {
  text-decoration: none;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.buycontainer {
  padding: 20px;
  background: white;
  border-radius: 3px;
}

.buytitle {
  font-size: 24px;
  text-align: center;
}
.buyoptions {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.buyoptions a {
  text-align: center;
  margin: 10px;
}
.buyoptions img {
  width: 40px;
  padding: 10px;
}

/*-------------------------------
------------ ANIMATIONS ---------
---------------------------------*/
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------------- 
------------ HEADER ------------- 
---------------------------------*/
#title {
  padding: 20px 0;
  text-align: right;
}
#titlelink {
  font-family: 'ariesregular';
  font-size: 90px;
  line-height: 80px;
  text-decoration: none;
}
#navtop {
  width: 900px;
  height: 180px;
  padding: 10px 0 40px 0;
}
#navtop ul {
  list-style: none;
  width: 900px;
  display: flex;
  justify-content: space-between;
}
#navtop ul li {
  padding: 0 49px;
  height: 180px;
  width: 147px;
}
#navtop ul li:first-child,
#navtop ul li.firstChild {
  padding-left: 0;
}
#navtop ul li:last-child,
#navtop ul li.lastChild {
  padding-right: 0;
}
#navtop ul li a {
  display: inline-block;
  text-align: center;
  height: 180px;
  width: 147px;
  background-image: url(../assets/nav.jpg);
  text-indent: -10000px;
}

a#authorlink {
  background-position: -250px 0;
}
a#bloglink {
  background-position: -495px 0;
}
a#eventslink {
  background-position: -751px 0;
}
a#bookslink:hover,
a#bookslink.active {
  background-position: 0 180px;
}
a#authorlink:hover,
a#authorlink.active {
  background-position: -250px 180px;
}
a#bloglink:hover,
a#bloglink.active {
  background-position: -495px 180px;
}
a#eventslink:hover,
a#eventslink.active {
  background-position: -751px 180px;
}
/*------------------------------- 
------------ CONTENT ------------ 
---------------------------------*/
.content {
  padding: 0;
}
.content ul,
.content ol {
  padding: 0 15px 15px 40px;
}
/*------------------------------- 
------------ FOOTER ------------ 
---------------------------------*/
.footer {
  padding: 0 0 25px 0;
  position: relative; /* this gives IE6 hasLayout to properly clear */
  clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
  text-align: center;
  font-size: 18px;
  font-family: 'ariesregular';
}
.footer a {
  text-decoration: none;
}

.footerline {
  padding: 30px 0 20px 0;
}

/*------------------------------- 
------------ HOME ------------ 
---------------------------------*/
.homecontent {
  width: 580px;
  float: right;
}
.amanda-portrait {
  float: right;
  padding: 0 5px 0 15px;
  height: 155px;
}
.paddedcontent {
  padding: 0 20px 0 0;
}
.contentlines {
  padding: 30px 0 30px 0;
}
.homeheading {
  font-family: 'ariesregular';
  font-size: 28px;
}
.homeheading--inline {
  line-height: 1;
}
.hometext {
  line-height: 1.7;
}
a.button {
  display: inline-block;
  font-family: 'ariesregular';
  font-size: 20px;
  padding-top: 9px;
  text-decoration: none;
  margin: 0 7px;
}
a.readmore {
  width: 127px;
  height: 38px;
  background-image: url(../assets/readmorebg.jpg);
}
a.buybutton {
  width: 58px;
  height: 37px;
  background-image: url(../assets/buybg.jpg);
}
a.buttonsmall {
  font-family: 'ariesregular';
  font-size: 12px;
  padding-top: 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
a.readmoresmall {
  width: 68px;
  height: 23px;
  background-image: url(../assets/readmorebgsmall.gif);
  background-repeat: no-repeat;
  display: inline-block;
}
a.buybuttonsmall {
  width: 32px;
  height: 21px;
  background-image: url(../assets/buybgsmall.jpg);
  background-repeat: no-repeat;
}
.sidebar1 {
  float: right;
  width: 320px;
}

.sidebarsec {
  clear: both;
  font-size: 13px;
  padding-bottom: 15px;
  min-height: 52px;
}
.kindle-hero-section {
  clear: both;
}
.sidebaricon {
  width: 52px;
  height: 52px;
  float: left;
}
a#kindleicon {
  background-image: url(../assets/kindle.gif);
  width: 115px;
  height: 114px;
  margin-top: 3px;
}
a#kindleicon:hover {
  background-position: 116px 0;
}
.sidebarcontentcontainer {
  float: left;
  padding: 0 0 5px 5px;
  width: 260px;
}
.sidebarsec:hover a#kindleicon {
  background-position: 116px 0;
}
.sidebarcontentcontainer.kindletop {
  width: 190px;
  padding-left: 10px;
}
.kindletitle {
  font-family: ariesregular;
  font-size: 26px;
  color: #4488cf;
  line-height: 1.2;
  margin-top: 10px;
  margin-left: 5px;
}
.kindletext {
  text-align: justify;
}
.sidebarcontentcontainer.kindlebottom {
  padding-left: 0px;
}
.kindlebottom {
  float: none;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.kindlebottom a.buybuttonsmall {
  margin-left: 0px;
}
.kindlebottom > div > a:first-child {
  margin-left: 0px;
}
.kindlebottom > div > a > img {
  width: 100px;
  height: auto;
}
a#fbicon {
  background-image: url(../assets/fb.jpg);
}
a#twittericon {
  background-image: url(../assets/twitter.png);
}
a#contacticon {
  background-image: url(../assets/contact.jpg);
}
a#linksicon {
  background-image: url(../assets/links.jpg);
}
.sidebarsec:hover > a {
  background-position: 52px 0;
}

.sidebarline {
  margin: 0;
  padding-bottom: 5px;
  height: 3px;
  line-height: 0;
}
#facebook .sidebarline {
  padding-bottom: 15px;
}

.sidebarcontentcontainer ul {
  list-style: none;
}
.sidebarcontentcontainer li {
  margin-bottom: 4px;
}

.homeShowcase {
  display: flex;
}
/*------------------------------- 
------------ BOOKS ------------ 
---------------------------------*/
#grid {
  padding-top: 5px;
  line-height: 1px;
  font-size: 1px;
  width: 540px;
  margin: 0 auto;
}

.hoverfade:hover,
.hoverfadenow {
  opacity: 0.7;
}
.hoverbook {
  border: solid 2px #ffffff;
  width: 130px;
}

.hoverbook:hover,
.hoverbooknow {
  border: 2px solid rgb(255, 102, 102);
}

.booksheading {
  font-family: 'ariesregular';
  font-size: 25px;
  margin-bottom: 10px;
  display: block;
}

.bookscontent {
  float: right;
  width: 650px;
}
.sidebarbooks {
  float: left;
  width: 250px;
}
.sidebarbooks ul {
  list-style: none;
  padding-left: 15px;
}
.sidebarbooks li {
  margin: 4px 0 6px;
}
.sidebarbooks li a {
  text-decoration: none;
}
.sidebarbooks li a:hover {
  opacity: 0.6;
}
.booknav {
  padding: 0 0 10px 282px;
  text-align: center;
}
.booktext {
  /* text-align: justify; */
  width: 365px;
  float: right;
}
.reviewtext {
  font-style: italic;
}

.reviewref {
  font-weight: bold;
  text-align: right;
  padding-bottom: 15px;
}

.bookbuy {
  margin-top: 25px;
  text-align: center;
}
img.cover {
  float: left;
  padding-right: 20px;
  width: 260px;
}
.bookabout {
  line-height: 1.6;
}

/*------------------------------- 
------------ AUTHOR ------------ 
---------------------------------*/
.inspirationheading {
  padding: 15px 0;
  color: #39f;
}
.inspiration {
  line-height: 1.6;
}
.inspiration ul {
  margin-top: 10px;
  padding-left: 40px;
}
.inspiration li {
  margin-bottom: 20px;
}
a.authhoverfade {
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}

a.authhoverfade:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

/*------------------------------- 
------------ BLOG ------------ 
---------------------------------*/
.blog-container {
  display: flex;
}
.blog-sidebar {
  flex: 1 0 auto;
  width: 180px;
  margin-right: 20px;
}
.blog-post-preview {
  margin-bottom: 40px;
}
.blog-post-preview-title {
  margin: 0;
}
.blog-sidebar ul {
  list-style: none;
  padding-left: 15px;
  margin-bottom: 40px;
}
.blog-sidebar li {
  margin: 4px 0 6px;
}
.blog-date {
  margin: 6px 0 8px;
  font-style: italic;
  text-decoration: underline dotted;
}
.keep-reading {
  float: right;
}
.blog-post ol,
.blog-post ul {
  margin-top: 10px;
  padding-left: 40px;
}
.posted-by {
  font-style: italic;
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
}
.back-to-blog {
  text-align: center;
}
/*------------------------------- 
------------ EVENTS ------------ 
---------------------------------*/

.modal,
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal {
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 40;
}

.modal.is-active {
  display: flex;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.1s;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.4);
}
.modal-content,
.modal-card {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px), print {
  .modal-content,
  .modal-card {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 320px;
  }
}
